<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{%block title%} Home {%endblock%}</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>
<body style="background-color: #CCFFFF;">
<style>
    #main-menu{
        text-align: center;
        margin: 10px;
    }
    .btn {
        font-size: 30px;
        margin: 10px;
    }

</style>
<div id="main-menu">
    <form action="/requestPage" method="Post">
        <button class="btn" type="submit" name="main" value="main">Home</button>
        <button class="btn" type="submit" name="movies" value="movies">Watch Movies</button>
        <button class="btn" type="submit" name="tickets" value="tickets">View Tickets</button>

    </form>
</div>
<div class="container">
        {% block body %}
        {% endblock %}
    </div>

</body>
</html>